[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
dynaconf = "*"
boto3 = "*"
loguru = "*"
argparse = "*"
async-timeout = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"